/*--------------------------------------*/
/*----------------------------------------------*/
/*------------------------------------------------*/
@import url(reset.css);
/*----------------------------------------------*/
body {
    font-family: 'Inter';
    color: #636060;
    background-color: #fff;
    font-weight: 400;
}
/*--------------------------------------------------*/
h2 {
    font-family: 'Inika';
}
/*--------------------------------------------------*/
.wrapper {
min-height: 100%;
display:flex;
flex-direction: column;
overflow: clip;
}
/*---------------------------------------------------*/
[class*="__conteiner"] {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}
/*-----------------------------------------------------*/
.page {
    flex:1 1 auto;
}
/*------------------------------------------------------*/
.red_color {
    color: #E06733;
}
.green_color {
    color: #499A18;
}
/*-------------------------------------------------------*/
.button {
    display: inline;
    border: 2px solid #E06733;
    background-color:#F5F5F5;
    border-radius: 10px;
    text-align: center;
    padding: 11px 27px;
    transition: all ease-in-out 0.2s;
}
.button:hover {
    background-color: #E06733;
}
.about_button {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3; /* 26/20 */
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding:12px 40px;  
    align-items: center; 
    transition: all ease-in-out 0.3s;
} 
.about_button:hover {
    background-color: #E06733;
    color: #fff;
}
.orange_button {
    display: inline-block;
    text-align: center;
    padding: 12px 54px;
}
/*---------------------------------------------------------*/
/*Header*/
/*-----------------------------------------------------------*/
.header {
    background-color:#EDF2EC;
    display: inline;
    text-align: center;
}
.header__conteiner {
    display: flex;
    min-height: 134px;
    padding-top:5px;
    padding-bottom:5px;
    align-items: center;
}
.header_logo {
    padding-left:110px;
    padding-bottom: 10px;
}
.header_menu {
    flex: 1 1 auto;
}

.menu_list {
    display: flex;
    justify-content: flex-end;
    column-gap: 46px; 
}
.menu_list:last-child {
    padding-right:110px;
}
.menu_link {
    font-family: 'Inika';
    color: #010201;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 3.12; /* 50/16 */
}
.menu_link:hover {
    opacity: 0.6;
    transition: all 0.3s ease 0s;;
}
.icon-menu {
    display: none;
   }
@media (max-width: 991.98px){
    .header_menu {
        flex: 0 0 auto;
    }
    .header__conteiner {
        min-height: 117px;
        max-width: 768px;
        column-gap: 139px;
        display: flex;
        justify-content: center;
    }
    [class*="__conteiner"] {
        margin: 0 auto;
        padding: 0px 50px;
    }
}
@media (max-width: 767.98px){

    [class*="__conteiner"] {
        margin: 0 auto;
        padding: 0px 25px;
    }
    .header__conteiner {
        display: flex;
        justify-content: space-around;
        column-gap: 213px;
    }
    .menu_list {
        justify-content: center;
        flex-direction: column;
        column-gap: 15px;
        text-align: center;
    }
    .menu_list:last-child {
        padding: 0px;
    }
    .header_logo {
        padding-left:0px;
        padding-bottom: 10px;
    }
    .icon-menu {
        display: block;
        flex: 0 0 40px;
        height: 24px;
        position: relative;
        z-index: 5;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: grey;
        transition: all 0.3s ease 0s;
    }
    .icon-menu::before {
        top:0;
    }
    .icon-menu::after {
        bottom:0;
    }
    .icon-menu span {
        top: calc(50% - 2px);
    }
    .menu-open .icon-menu {
        width: 0px;
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 2px);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 2px);
        transform: rotate(45deg);
    }
    .menu_body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #EDF2EC;;
        left: -100%;
        top:0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }
    .menu_body::before {
        content: "";
        width: 100%;
        position: fixed;
        top:0;
        left:-100%;
        height: 70px;
        background-color: #EDF2EC;;
        z-index: 2;
        transition: left 0.3s ease 0s;
    }
    .menu_list {
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        text-align: center;  
    }
     .menu_link {
        font-size: 25px;
     }
     .header__conteiner {
        column-gap: 80px;
        min-height: 96px;
     }
    
    .menu-open .menu_body,
    .menu-open .menu_body::before { 
        left: 0;
}
    
}


/*-------------------------------------------------*/
/*Section welcome_page*/
/*-----------------------------------------------------*/
.welcome_page {
    padding: 62px 0;
    background-color:#EDF2EC;
}

.welcome__conteiner {
    display: flex;
    justify-content: center;
}
.welcome_row {
    display: flex;
    column-gap: 224.2px;
    max-width: 1222px;
}
.welcome_image {
    flex: 0 0 448.8px;
}
.welcome_image img {
    max-width: 100%;
}
.welcome_body { 
    padding-top:38px;
}
.welcome_title {
    font-family: 'Inter';
    color: #717171;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.11; /* 50/45 */
}
.welcome_content:not(:last-child) {
    margin-bottom: 42px;
}
.welcome_text {
    font-size: 20px;
    line-height: 1.75; /* 35/20 */
}
.welcome_text:not(:last-child) {
    margin-bottom: 60px;
}
.welcome_button {
    color: #000000;
    font-size: 16px;
    line-height: 1.25; /* 20/16 */
    text-align: center;
}
.welcome_button:hover {
    color:#fff;
}
@media (max-width: 991.98px){
    .welcome_page {
        padding-top: 40px;
        padding-bottom: 70px;
    }
    .welcome_row { 
        display: flex; 
        column-gap: 42px;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .welcome_image {
        flex: 0 0 280px;
        max-height: 254px;
    }
    .welcome_body {
        padding-top: 18px;
    }
    .welcome_title {
        font-size: 35px;
    }
    .welcome_content:not(:last-child) {
        margin-bottom: 30px;
    }
    .welcome_text {
        font-size: 16px;
        line-height: 1.56; /* 25/16 */
    }
    .welcome_text:not(:last-child) {
        margin-bottom: 42px;
    }
}
@media (max-width: 767.98px){
    .welcome_page {
        padding: 24px 0px;
    }
    .welcome_image {
        display: none;
    }
    .welcome_content:not(:last-child) {
        margin-bottom: 21px;
    }
    .welcome_title {
        font-size: 25px;
        line-height: 1.4; /* 35/25 */
    }
    .welcome_text {
        font-size: 16px;
        line-height: 1.56; /* 25/16 */
    }
    .welcome_text:not(:last-child) {
        margin-bottom: 25px;
    }
    .welcome_button {
        padding: 8px 18px;
        font-size: 10px;
        line-height: 2; /* 20/10 */
    }
}
/*--------------------------------------------------------------*/
/*Section about page*/
/*---------------------------------------------------------------*/
.about_page {
    background-color: #FFFFFF;
    padding: 93px 0;
}
.about__conteiner {
    display: flex;
    justify-content: center;
}
.about_row {
    display: flex;
    justify-content: center;
    column-gap: 153px;
    max-width: 1222px;
}
.about_body {
    padding-top: 68px;
}

.about_title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3; /* 52/40 */
    color: #499A18;
}
.about_content:not(:last-child) {
    margin-bottom: 40px;
}
.about_text {
    font-size: 20px;
    line-height:1.5; /* 30/20 */
}
.about_image {
    flex: 0 0 464px;
}
.about_image img {
    max-width: 100%;
}
@media (max-width: 991.98px){
    .about_page {
        padding-top: 40px;
        padding-bottom: 95px;
    }

    .about_row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about_body {
        padding:0;
    }
    .about_title {
        text-align: center;
        font-size: 35px;
        line-height: 1.31 /* 46/35 */
    }
    .about_text {
        margin-bottom: 68px;
    }
     .about_image {
        width: 280px;
        max-height: 275px;
    }
}
@media (max-width: 767.98px){
    .about_page {
        padding: 30.5px 0;
    }
    .about_content:not(:last-child) {
        margin-bottom: 20.5px;
    }
    .about_title {
        font-size: 25px;
        line-height: 1.32; /* 33/25 */
    }
    .about_text {
        font-size: 15px;
        line-height: 1.66; /* 25/15 */
    }
    .about_text {
        margin:0;
    }
    .about_image {
        width: 150px;
        max-height: 147px;
    }
}
/*-------------------------------------------------------*/
/*Section service_page*/
/*-----------------------------------------------------*/
.service_page {
    padding-top: 40px;
    padding-bottom: 121px;
    background-color: #EDF2EC;
}

.service__conteiner {
    display: flex;
    flex-direction: column;
}

.services_row { 
    margin:0 auto; 
}

.services_row:not(:last-child) {
    margin-bottom: 105px;
}

.serviсe_row {
    display: flex;
    max-width: 1222px;
}

.serviсe_row:last-child {
    margin: 0 auto;
}

.service_body {
   padding-right: 230px; 
}

.service_content {
    display: flex;
    column-gap: 142px;
    justify-content:center;
}

.service_title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    color: #499A18;
    font-size: 40px;
    line-height: 1.3; /* 52/40 */
}

.about_button {
    margin-right: 38px;
}

.about_button:last-child {
    margin-right: 0px;
}

.about_actions {
    padding-top: 45px;
}

.service_lining {
    display: flex;
    flex-wrap: wrap;
    column-gap: 116px;
    row-gap: 55px;
}
.service_item {
    flex: 0 1 27%;
}

.body_item {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}
.service_image {
    flex: 0 0 329px;
}

.service_image img {
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.service_image:not(:last-child) {
    margin-bottom: 10px;
}

.service_word {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 1; /* 20/20 */
    color: #E06733;
}

.service_word:not(:last-child) {
    margin-bottom: 10px;
}

.service_text {
    font-size: 16px;
    line-height: 1.25; /* 20/16 */
    color: #717171;
    margin-bottom: 36px;
    text-align: center;
}

@media (max-width: 991.98px){
    .service_page {
        padding-top: 60px;
        padding-bottom: 70px;
    }
   
    .service_lining { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px;
        column-gap: 106px;
        row-gap: 38px;
    } 
    .service_content {
        display: flex;
        flex-direction: column;
    }
    .about_actions {
        display: flex;
    }
    .service_title {
        font-size: 35px;
        line-height: 1.31; /* 46/35 */
    }
    .service_item { 
        flex: 0 1 40%;
    }
}
@media (max-width: 767.98px){
    
    .service_title {
        font-size: 25px;
        line-height: 1.32; /* 33/25 */
    }
    .about_actions {
        display: flex;
        column-gap: 10px;
        row-gap: 9px;
    }
    .about_button {
        padding: 8px 28px;
        font-size: 15px;
        line-height: 1.33; /* 20/15 */
        margin:0;
    }
    .orange_button {
        padding: 8px 37px;
        margin:0;
    }
    .service_item { 
        display: inline-flex;
        justify-content: center;
        flex: 0 1 80%;
    }
}
/*----------------------------------------------------------*/
/* Section prices_section*/
/*---------------------------------------------------------*/
.prices_page {
    padding-top: 27px;
    padding-bottom: 115px;
}   

.prices__conteiner {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.prices_row {
    display: flex;
    max-width: 1222px; 
}

.prices_check { 
   display: flex;
   column-gap: 438px;
}

.prices_form {
    display:flex;
    max-width: 332px;
    flex-direction: column;
    justify-content: left;
}

.prices_name:not(:last-child) {
    margin-bottom: 60px;
}

.prices_word {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2; /* 48/40 */
    color: #000000;
}

.prices_body {
    display: flex;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding:38px 44px;
}

.prices_item {
    display: flex;
    max-height: 140px;
    border: 0.5px  #717171;
    background-color: #EDF2EC;
    border-radius: 20px; 
    padding: 16px 44px;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
}
.prices_item:not(:last-child) {
    margin-bottom: 22px;
}

.prices_information {
   text-align: right;
   max-width: 452px;
}

.prices_content:not(:last-child) {
    margin-bottom: 51px;
}

.prices_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25; /* 50/40 */
    color: #000000;
}

.prices_action {
    display: inline-block;
}

.prices_action:not(:last-child) {
    margin-bottom: 49px;
}

.first-accordion {
    margin-left: 70px;
}

.second-accordion {
    margin-left: 50px;
}

.third-accordion {
  margin-left: 52px;
}

.prices_button {
    color:#E06733;
    padding: 12px 32px;
    transition: all ease-in-out 0.2s;
}
.prices_button:hover {
    color: #fff;
}

.prices_image {
    flex: 0 0 152px;
}

.prices_image img {
    max-width: 100%;
}

.summary_text { 
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1; /* 20/20 */
    color: #000000;
    list-style-type:none;
    cursor: pointer;
}
.summary_text img {
    align-items: center;
}

.summary_dollar {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66; /* 20/12 */
}
.price_bigger {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.accordion_paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    border-top: 0.5px solid #AEA1A1;
    margin-top: 13px;
    padding-top: 6px;
    min-width: 169px;
    line-height: 1;/* 10/10 */
    color: #717171;
}
.accordion_paragraph:not(:last-child) {
    margin-bottom: 6px;
}
.summary-per_hour {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66; /* 20/12 */
    color: #000000;
}
.summary_content:not(:last-child) {
    margin-bottom: 12px;
}
.summary-order_btn {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42; /* 20/14 */
    color: #717171;
    background-color: #ffffff;
    padding: 3px 20px;
    margin-bottom: 12px;
    border-radius: 10px;
}
@media (max-width: 991.98px){
    .prices_page {
        padding-top: 40px;
        padding-bottom: 88px;
    }
    .prices_check { 
        column-gap: 40px;
    }
    .prices_name:not(:last-child) {
        margin-bottom: 50px;
    }
    .prices_information {
        padding-top: 99px;
    }
    .prices_title {
        font-size: 25px;
        line-height: 1.4;
    }
    .prices_button {
        font-family: 'Inika';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.3; /* 26/20 */
        text-align: center;
        color: #E06733;
        padding: 12px 32px;
    }
    .prices_word {
        font-size: 35px;
        line-height: 1.2; /* 42/35 */
        padding-left: 15px;
    }
    .prices_content:not(:last-child) {
        margin-bottom: 38px;
    }
    .prices_action:not(:last-child) {
        margin-bottom: 46px;
    }
}
/*---------------------------------------------------------------*/
/*Section contacts_page*/
/*------------------------------------------------------------------*/

.contacts_page {
    padding-top: 53px;
    background-color: #EDF2EC;
}

.contacts__conteiner {
    display: flex;
    justify-content: center;
}

.contacts_row {
    max-width: 1222px;
    display:flex;   
}

.contacts_image {
    flex: 0 0 400px;
    margin-right: 113px;
}

.contacts_image img {
    max-width: 100%;
}

.contacts_word {
    padding-top: 6px;
    margin-right: 64px;
}

.contacts_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3; /* 52/40 */
    color: #499A18;
}

.selected_city {
    width: 450px;
    padding-top: 27px;
    padding-left: 20px;
    background-color: #DCE9D9;
    display:none;
}

.selected_column {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
}

.city_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
    padding-left: 20px;
    padding-right: 24px;
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}

.city_text:active {
    background-color: #C1E698;
    border: 1px solid #D6E7D2;
}
.city_names {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5; /* 40/16 */
    letter-spacing: 0.05em;
    color: #717171;
}
.city_link {
    display: block;
    max-width: 380px;
    color: #499A18;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5; /* 40/16 */
    letter-spacing: 0.05em; 
}
.city_link:active {
    color: #717171;
    border-bottom: 1px solid #717171;
}
@media (max-width: 991.98px){
    .contacts_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contacts_image {
        max-width: 200px;
        max-height: 249px;
        order:3;
        margin: 0 auto;
    }
    .prices_page {
        padding-top: 40px;
    }
    .contacts_word {
        margin: 0 auto;
        padding-top: 0px;
    }
    .contacts_word:not(:last-child) {
        margin-bottom: 100px;
    }
    .selected_column {
        padding-top: 0px;
        margin-bottom: 250px;
    }
}
/*-------------------------------------------------*/
/*Footer section*/
/*-------------------------------------------------*/
.footer {
    padding: 40px 0;
}

.footer__conteiner {
    display: flex;
    justify-content: center;
}

.footer_row {
    display: flex;
    max-width: 1222px; 
    column-gap: 320px;
    align-items: center;
}

.footer-github_column {
    display: flex;
    column-gap: 20px;
}

.github_item {
    font-weight: 400;
    font-size: 20px;
    line-height: 2.5; /* 50/20 */
    color: #000000;
}

.footer-school_name {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.5; /* 50/20 */
    color: #000000;
}

.footer-link_content {
    display:flex;
    column-gap: 20px;
}
@media (max-width: 991.98px){
    .footer {
        padding-top: 33px;
        padding-bottom: 18px;
    }
    .footer_row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 16px;
    }
    .github_item {
        font-size: 20px;
        line-height: 1.2; /* 24/20 */
    }
    .footer-school_name {
        font-size: 20px;
        line-height: 1.2; /* 24/20 */
    }
    .footer-link_content {
        height: 50px;
        align-items: center;
    }
}
